Library.Inclock.web.br/Connected Services/Autenticador/Classes.VO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Classes.VO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Classes.VO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Funcionario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nascimento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cargo_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="FeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedBack" nillable="true" type="tns:FeedBack" />
  <xs:complexType name="ArrayOfExpediente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expediente" nillable="true" type="tns:Expediente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpediente" nillable="true" type="tns:ArrayOfExpediente" />
  <xs:complexType name="Expediente">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaSemana" type="xs:int" />
      <xs:element minOccurs="0" name="Entrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Funcionario_id" type="xs:int" />
      <xs:element minOccurs="0" name="HorasTrabalhada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodoSaida" type="xs:int" />
      <xs:element minOccurs="0" name="Saida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expediente" nillable="true" type="tns:Expediente" />
  <xs:complexType name="ArrayOfAviso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aviso" nillable="true" type="tns:Aviso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAviso" nillable="true" type="tns:ArrayOfAviso" />
  <xs:complexType name="Aviso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conteudo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNoticia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Imagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aviso" nillable="true" type="tns:Aviso" />
  <xs:complexType name="ArrayOfPonto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ponto" nillable="true" type="tns:Ponto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPonto" nillable="true" type="tns:ArrayOfPonto" />
  <xs:complexType name="Ponto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atraso" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataEntrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSaida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expediente" nillable="true" type="tns:Expediente" />
      <xs:element minOccurs="0" name="Funcionario" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Obs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dt_Entrada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dt_Saida" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ponto" nillable="true" type="tns:Ponto" />
</xs:schema>